<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Inventory Management Tool</title>
</head>
<body class="p-3 mb-2 bg-light text-black">

  <h1 class="ml-4">SmallShop Inventory</h1>

  <div class="container">

    <!-- add product form -->
    <div class="row m-4">
      <div class="col text-center m-3">
        <form action="#" method="POST" th:object="${product}" th:action="@{/add}">
          <div class="row form-group">
            <label>Product Name: </label>
            <input type="text" class="form-control" id="product-name-input" maxlength="20" required th:field="*{productName}">
            <label>Quantity: </label>
            <input type="text" class="form-control" id="quantity-input" maxlength="20" required th:field="*{quantity}">
          </div>
          <button type="submit" class="btn btn-primary float-right" id="addButton">Add Product</button>
        </form>
      </div>
    </div>

    <div th:if="${showSuccessMessage} OR ${showFailureMessage}" class="row m-4">
      <div class="col m-3">
        <div th:if="${showSuccessMessage}" class="alert alert-success text-left col-10" role="alert">
          <span th:text="${successMessage}"> </span>
        </div>
        <div th:if="${showFailureMessage}" class="alert alert-danger text-left col-10" role="alert">
          <span th:text="${failureMessage}"> </span>
        </div>
      </div>
    </div>

    <div class="row m-4">
      <div class="ml-3">
        <a href="#" class="btn btn-primary float-right" th:href="@{/report}">Generate Inventory Report</a>
      </div>
    </div>

    <!-- product list table-->
    <div class="row m-4">
      <div class="col text-center m-3">
        <table class="table table-striped" id="productTable">
          <thead>
          <tr>
            <th style="width: 20%" scope="col">Product ID</th>
            <th style="width: 20%" scope="col">Product Name</th>
            <th style="width: 20%" scope="col">Quantity</th>
            <th style="width: 20%" scope="col">Actions</th>
            <th style="width: 20%" scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="product : ${productList}">
            <td th:text="${product.productId}">Product ID</td>
            <td id="" th:text="${product.productName}">Product Name</td>
            <td th:text="${product.quantity}">Quantity</td>
            <td><button class="btn btn-primary" th:data-note="${product}" th:attr="onclick=|showEditProductModal('${product.productId}','${product.productName}','${product.quantity}')|" >Edit</button></td>
            <td><a href="#" class="btn btn-warning" th:href="@{/delete(id=${product.productId})}">Delete</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Edit Inventory Modal -->
    <div class="modal fade" id="editInventoryModal" tabindex="-1" role="dialog" aria-labelledby="inventoryModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editNoteModalLabel">Product Inventory</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <form action="#" method="POST" th:object="${product}" th:action="@{/edit}">
              <input type="hidden" name="productId" id="product-id-edit" th:field="${product.productId}">
              <div class="form-group">
                <label for="product-name-edit" class="col-form-label">Product Name</label>
                <input type="text" name= "product-name-edit" class="form-control" id="product-name-edit" maxlength="20" required th:field="*{productName}">
              </div>
              <div class="form-group">
                <label for="product-quantity-edit" class="col-form-label">Quantity</label>
                <input class="form-control" name="product-quantity-edit" id="product-quantity-edit" maxlength="20" required th:field="*{quantity}">
              </div>
              <button id="editProductSubmit" type="submit" class="d-none"></button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="editProductSaveButton" class="btn btn-primary" onclick="$('#editProductSubmit').click();">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  </div>

  <script th:src="@{/js/jquery-slim.min.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>

  <script type="text/javascript">

    function showEditProductModal(id, name, quantity) {
        $('#product-id-edit').val(id);
        $('#product-name-edit').val(name);
        $('#product-quantity-edit').val(quantity);
        $('#editInventoryModal').modal('show');
    }

  </script>
</body>
</html>